<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand" [routerLink]="['./home']">Details</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./DataBindings']">Cap 12 - Data Bindings <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./BuildDirectives']">cap 13 - Buid-in Directive</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./EventForms']">cap 14 - Events and Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./EventFormsFV']">cap 14.1 - Events and Forms (Form Validation)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./FormModel']">cap 14.2 - Form Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./AttributeDirective']">cap 15 - Attribute directive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./structuralDirective']">cap 16 - Structural directive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./Components']">cap 17 - Components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./Pipes']">cap 18 - Pipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./Services']">cap 19 - Services</a>
            </li>
        </ul>

    </div>
</nav>