<div class="row m-2">
    <div class="col-4 p-2">
        <paProductForm19 (paNewProduct19)="addProduct($event)"></paProductForm19>
    </div>
    <div class="col-8 p-2">
        <paToggleView>
            <paProductTable19 [model]="model"></paProductTable19>
        </paToggleView>
    </div>
</div>

<!--
<div class="row m-2">
    <div class="col-4 p-2">
        <paProductForm></paProductForm>
    </div>
    <div class="col-8 p-2">
        <paProductTable></paProductTable>
    </div>
</div>
-->